<div class="container">
  <div class="jumbotron">
    <h1>WELCOME TO GITHUB</h1>
    </div>

  <h2> <a href=""> Homepage</a></h2>
  <h2> <a href=""> Repositories</a></h2>
  <div class="input-form">
    <div class="col-md-6">
 
      <form ([ngSubmit])="getUser()" class="form-search">
  <input type="text" class="form-control" placeholder="Enter Username" [(ngModel)]="name" name="userName" (keyup.enter)="getUser()" >

  <button class="btn btn-success ok" type="search">SEARCH</button>
      </form>
      <p>{{name.userName}}</p>
  <div *ngIf="repolist">
    <ul class="list-group list-group-flush" *ngFor="let repo of repolist">
      <li class="list-group-item">

        <p>{{repo.description}}</p>
<p *ngIf="repo.pushed_at"><small> Updated on {{ repo.pushed_at }} </small></p>
<p *ngIf="repo.pushed_at"><small> Created on {{ repo.created_at }}</small></p>
</li>
</ul>
</div>

<div *ngIf="repolist?.length == 0">
  <p class="text-danger">Doesn't have any public repositories yet</p>
</div>

<div class="well" id="display">
  <div class="information" style="float:left">
    <h3>{{githubData.name}}</h3>

    <h4>Location: {{githubData.location}}</h4>
    <h4>Repositories: {{githubData.public_repos}}</h4>
    <h4>Followers: {{githubData.followers}}</h4>
    <h4>Following: {{githubData.following}}</h4>
    <h4><a [href]="githubData.html_url">View the page here:</a></h4>

    </div>
    </div>
  </div>
</div>
<!-- <button (click)="displayname()">display</button>
    <p>name{{user}}</p> -->